@font-face {
  font-family: 'Merriweather-Regular';
  src: url("font/Merriweather-Regular.ttf");
}

@font-face {
  font-family: 'Raleway-Thin';
  src: url("font/Raleway-Thin.ttf");
}
@font-face {
  font-family: 'DancingScript-Regular';
  src: url("font/DancingScript-Regular.ttf");
}

body {
  margin: 5px;
  height: 100%;
  font-family: "Merriweather-Regular";
  color: white;
  font-size: 20px;
  background-color: #3f593f;
}

h1{
  font-family:"Raleway-Thin";
  font-size: 30px;
  color: white;
}


h2{
  font-family: "DancingScript-Regular";
  font-size: 30px;
  margin: 12px;
}

a{
  color: #DDBD7D;
}

.header {
  padding: 20px;
  max-height: 200px;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  border-bottom:5px solid #D9E7CB ;
}

.logo{
  max-height: 180px;
  margin-left: auto;
}

.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  color: #131F0D;
  background-color: #D9E7CB; 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; 
  transition: 0.5s; 
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #3f593f;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color:#DDBD7D;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.video-container {
  display: flex;
  align-items: center;
  gap: 5px; /*gap video and text  */
  padding: 5px;
  margin: 20px;
  background-color:#f2c92a;
  border-radius: 10px;
  height: 350px;
}

.video {
  flex: 1; 
  /* border-radius: 10px; */
  height: 350px;
}

.text {
  flex: 1;
}

* {
  box-sizing: border-box;
}

.row{
  margin: 8px ;
}

.row,
.row > .column {
  padding: 8px;
}

.column {
  float: left;
  width: 20%; /*change to 20% for showing 5rows in a column  */
}

.meal-container {
  background-color: #3f593f;
  padding: 10px;
  border-radius: 10px;
}

.dish {
  width:100%;
  max-height: 50% ;
}


footer {
  text-align: center;
  padding: 3px;
  background: #55624C;
  color: #D9E7CB;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}



/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 40px;
  margin-left: 225px
}
