body {
  margin: 25px;
  height: 100%;
  /* font-family: ; */
}

a{
  color: #DDBD7D;
}

.header {
  background: #3f593f9f;
  color: white;
  font-size: 30px;
  padding: 20px;
  margin-bottom: 3%;
  max-height: 200px;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
   /* width: 100%;
  text-align: center; 
   width: 100%;
  position: fixed;
  top: 0;
  left: 0;*/
}

.nav-bar{
  display: flex;
}

  .nav-bar a {
    color: white;
    margin-left: 30px;
    text-decoration: none;
  }

  a:hover {
    color:#DDBD7D;
  }

.logo{
  max-height: 150px;
}

.container {
  display: flex;
  align-items: center;
  gap: 20px; /*gap video and text  */
  padding: 10px;
  background-color:#748c74;
  color: white;
  border-radius: 10px;
  margin: 20px;
}

.video {
  flex: 1; 
  border-radius: 10px;

}

.text {
  /* flex: 1; text takes up available space */

}

.flex-container {
  display: flex;
  height:450px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-container div {
  position: relative;
  width: 20%;
  background-color:#3f593f;
  color: white;
  border-radius: 10px;
}

.dish {
  position: absolute;
  width:95%;
  bottom: 2%;
  left:2.5%;
  height: 250px;
  display: flex;
  
}

footer {
  text-align: center;
  padding: 3px;
  background: #3f593f9f;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}